*~
_build/
.merlin
*.exe
tests/*.ml
*.cmi
*.cmo

venv/
pyvenv/
.DS_Store
muf.log
benchmarks/*/*.ml
benchmarks/*/output_paper/*.pdf
benchmarks/*/output_paper/*.png
benchmarks/*/output_time/*.pdf
benchmarks/*/output_time/*.png
benchmarks/*/test*
benchmarks/*/all_programs/*.ml
.vscode/

__pycache__
.mypy_cache
.pytest_cache
.old/